<h1> Author Identification Task<h1>

<ul> 
    Example(Gutenberg corpus): 
    
    Using the NLTK tools to distinguish the three authors(the King James, Jane Austen, G. K. Chesterton) in the Gutenberg corpus

</ul>


<form action="/Identify/" methond="post">
    <input type="text" name="content"/>
    <input type="submit" value="Identify"/>
</form>


<ul> 

    <!-- <li>
        <form {{content}} > 
        </form>
    </li> -->

    <li>
        Elta Identifition Result:
        <!-- <form {{content}} > as TestCase most likely author.
        </form> -->
    </li>
</ul> 

<form action="/Backhome/" methond="post">
    <input type="submit" value="Back home"/>
</form>
