<h1> Frequently Asked Questions !<h1>

<!-- <ul> 
    <li>How do I use this website? </li>
    <li>How can I view my history on checking information? </li>
    <li>Is this websit for fun? </li>
</ul>  -->

<ul> 
    {% for faqitem in all_faqitems %}
    <li>
        <form action="/deleteQuestion/{{faqitem.id}}/" 
                style="display: flex; align-items: center; margin-block-end: 0.5em" 
                methond="post">{% csrf_token %}
             {{ faqitem.content }} 
            <input type="submit" value="Delete" style="margin-left: 1em"/>
        </form>
    </li>
    {% endfor%}
</ul> 

<form action="/addQuestion/" methond="post">{% csrf_token%}
    <input type="text" name="content"/>
    <input type="submit" value="Add"/>
</form>

<form action="/Backhome/" methond="post">
    <input type="submit" value="Back home"/>
</form>