<h1> Frequently Asked Questions !<h1>

<!-- <ul> 
    <li>How do I use this website? </li>
    <li>How can I view my history on checking information? </li>
    <li>Is this websit for fun? </li>
</ul>  -->

<ul> 
    {% for faqitem in all_faqitems %}
        <li> {{ faqitem.content }} </li>
        <form action="/deleteQuestion/{{faqitem.id}}/" 
                style="display: inline" 
                methond="post">{% csrf_token %}
        <input type="submit" value="Delete"/>
        </form>
    {% endfor%}
</ul> 

<form action="/addQuestion/" methond="post">{% csrf_token%}
    <input type="text" name="content"/>
    <input type="submit" value="Add"/>
</form>